.RoundButton {
  width: 56px;
  height: 56px;
  text-align: center;
  color: white;
  background: #4545f9;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline:none;

  &.remove {
    transform: rotate(45deg);
    position: absolute;
    background: red;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}
